@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");
:root {
  --color-black: #121212;
  --color-blue: #1e90ff;
  --color-blue_light: #36caec;
  --color-white: #fff;
  --color-black_light: #1e1e1e;
  --font: "Raleway", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  background: none;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-black);
  color: var(--color-white);
  font-family: var(--font);
}
.body::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: 0.3s;
  pointer-events: none;
}
.body_backdrop::before {
  opacity: 0.4;
  background: var(--color-black);
}

.main {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  margin-top: 77px;
}

.header {
  position: fixed;
  width: 100%;
  border-bottom: 1px solid rgba(30, 144, 255, 0.3);
  background: var(--color-black);
}
.header__logo {
  display: flex;
  font-size: 32px;
  font-weight: 600;
  color: var(--color-blue);
}
.header__row {
  align-items: center;
  padding-block: 20px;
}

.nav__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  font-size: 18px;
}
.nav__link {
  transition: color 0.2s;
}
.nav__link:hover {
  transition: color 0.2s;
  color: var(--color-blue);
}
.nav-wrapper {
  display: flex;
  align-items: center;
}
.nav-wrapper nav {
  flex-grow: 1;
}

.welcome {
  display: flex;
  align-items: center;
  flex-grow: 1;
}
.welcome__row {
  align-items: center;
}
.welcome__title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 12px;
  color: var(--color-blue);
}
.welcome__text {
  text-align: center;
  font-size: 22px;
  padding-bottom: 16px;
}
.welcome__image {
  overflow: hidden;
  border-radius: 36px;
}
.welcome__image img {
  width: 100%;
}

.menu__row {
  padding-block: 48px;
}
.menu__title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 24px;
  color: var(--color-blue);
}
.menu__category-title {
  color: var(--color-blue_light);
  text-align: center;
  margin-bottom: 16px;
  font-size: 32px;
}
.menu__category-wrapper {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.menu__item {
  display: flex;
  flex-direction: column;
  background: var(--color-black_light);
  height: 320px;
  border-radius: 16px;
  box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
  padding: 18px 20px;
  margin-bottom: 20px;
}
.menu__item-image {
  overflow: hidden;
  border-radius: 12px;
  flex-grow: 1;
}
.menu__item-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.menu__item-name {
  padding-top: 12px;
  font-weight: 600;
}
.menu__item-price {
  padding-top: 2px;
}

.footer {
  border-top: 1px solid rgba(30, 144, 255, 0.3);
}
.footer__row {
  padding-block: 24px;
}
.footer__rights {
  text-align: center;
}

.auth-link {
  background: var(--color-blue);
  border-radius: 24px;
  padding: 12px 18px;
}
.auth__row {
  justify-content: center;
  padding-top: 140px;
}
.auth__title {
  text-align: center;
  font-size: 38px;
  margin-bottom: 12px;
  color: var(--color-blue);
}
.auth__form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 32px 24px;
  border-radius: 16px;
}
.auth__form-label {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 12px;
  font-weight: 600;
}
.auth__form-input {
  background: var(--color-black);
  border: 1px solid var(--color-blue);
  padding: 12px 16px;
  border-radius: 8px;
  font-size: 18px;
}
.auth__form-input::placeholder {
  font-size: 16px;
}
.auth__form-button {
  background: var(--color-blue);
  border: none;
  padding-block: 16px;
  color: var(--color-white);
  border-radius: 12px;
  margin-top: 12px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}
.auth__form-confirm {
  font-size: 14px;
}

.burger {
  display: flex;
  justify-content: end;
}
.burger__nav-list {
  flex-direction: column;
  gap: 24px;
  font-size: 24px;
}
.burger__button {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 25px;
  border: none;
}
.burger__button span {
  display: block;
  width: 100%;
  height: 2px;
  pointer-events: none;
  background: var(--color-white);
}
.burger__menu {
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  height: 100vh;
  width: 70vw;
  padding: 60px 40px;
  transition: 0.2s;
  background: var(--color-black_light);
}
.burger__menu_open {
  transition: 0.2s;
  left: 0;
  visibility: visible;
}

/*# sourceMappingURL=styles.css.map */
